extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/urls", method="post", name="form_url")
    input(type="text", name="input_url", placeholder="Paste a link to shorten it", required)
    input(type="submit", value="Shorten", class="btn waves-effect waves-light")
