doctype html
html
  head
    title= title
    <!-- Compressed CSS -->
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css')
    //- Compressed JavaScript
    script(src='https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
